<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chat</key>
	<dict>
		<key>Date Opened</key>
		<string>2011-09-12 22:40:12 -0500</string>
		<key>Destination UID</key>
		<string>orangecolander</string>
		<key>Source UID</key>
		<string>eriscontrol</string>
		<key>Type</key>
		<string>IM</string>
	</dict>
	<key>Participants</key>
	<array>
		<dict>
			<key>Display Name</key>
			<string>Eris</string>
			<key>UID</key>
			<string>eriscontrol</string>
			<key>UserIcon Name</key>
			<string>eriscontrol.png</string>
		</dict>
		<dict>
			<key>Display Name</key>
			<string>Orange Colander</string>
			<key>UID</key>
			<string>orangecolander</string>
			<key>UserIcon Name</key>
			<string>orangecolander.png</string>
		</dict>
	</array>
	<key>Preview Messages</key>
	<array>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2011-09-12 22:39:15 -0500</string>
			<key>From</key>
			<string>eriscontrol</string>
			<key>Message</key>
			<string>check out these link previews</string>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>orangecolander</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2011-09-12 22:39:24 -0500</string>
			<key>From</key>
			<string>eriscontrol</string>
			<key>Message</key>
			<string><![CDATA[
				<a href="http://www.youtube.com/watch?v=GLnJG6U2bKM">Silverfish and Watermelons</a><br>
				<a href="http://imgur.com/K2PNQ">Uncivil Engineering</a><br>
				<a href="http://reddit.com/r/Minecraft/comments/kkc12/cobblestone_walls_a_modest_proposal_to_notch_or/">Cobblestone Walls: A Modest Proposal</a><br>
				<a href="http://www.reddit.com/r/mylittlepony/comments/kkc2v/7000_bronies/">7,000 Bronies</a><br>
				<a href="http://twitter.com/#!/notch/status/116175459988942848">Notch complaining about trains</a>
			]]></string>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>orangecolander</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2011-09-12 22:39:37 -0500</string>
			<key>From</key>
			<string>orangecolander</string>
			<key>Message</key>
			<string>neat! this message style is legit awesome</string>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>eriscontrol</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Date</key>
			<string>2011-09-39 22:40:01 -0500</string>
			<key>From</key>
			<string>orangecolander</string>
			<key>Message</key>
			<string>Orange Colander went away</string>
			<key>Status Message Type</key>
			<string>away</string>
			<key>Type</key>
			<string>Status</string>
		</dict>
		<dict>
			<key>Date</key>
			<string>2011-09-12 22:40:01 -0500</string>
			<key>From</key>
			<string>orangecolander</string>
			<key>Message</key>
			<string>Away Message: &quot;I was never really here!&quot;</string>
			<key>Status Message Type</key>
			<string>away_message</string>
			<key>Type</key>
			<string>Status</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<false/>
			<key>Date</key>
			<string>2011-09-12 22:40:07 -0500</string>
			<key>From</key>
			<string>eriscontrol</string>
			<key>Message</key>
			<string>gee, thanks, imaginary wish fulfillment puppet!</string>
			<key>Outgoing</key>
			<true/>
			<key>To</key>
			<string>orangecolander</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
		<dict>
			<key>Autoreply</key>
			<true/>
			<key>Date</key>
			<string>2011-09-12 22:40:08 -0500</string>
			<key>From</key>
			<string>orangecolander</string>
			<key>Message</key>
			<string>I was never really here!</string>
			<key>Outgoing</key>
			<false/>
			<key>To</key>
			<string>eriscontrol</string>
			<key>Type</key>
			<string>Message</string>
		</dict>
	</array>
</dict>
</plist>
