@shadow-blur   : 5px;
@shadow-offset : 1px 1px;

@background: #f8f1e9;

@incoming-color: #192728;
@outgoing-color: #2f1a20;

@event-background: rgba(255, 255, 255, 0.7);

@link-color: #136;
@link-shadow: #000;
@visited-color: #241;
@visited-shadow: #000;
